a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: small;
    text-decoration: none;
    color: black;
    padding: 10px;
}
.logo {
    width: 250px;
    padding: 10px;
}
.portfolio {
    height: 350px;
    margin-top: 20px;
    border: 1px solid black;
}
video {
    width: 750px;
    margin: 20px;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: lighter;
    margin: 5px;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.immagini {
    margin-bottom: 10px;
}
.piè_di_pagina {
    width:fit-content;
    font-size: smaller;
}
h3 {
    margin: 5px;
}
.div_myself {
    float: left;
    width: 100%;
    margin-left: 250px;
    margin-bottom: 20px;
}
.myself {
    float: left;
    margin: 15px;
    width: 400px;
    border: 1px solid black;
}
h2 {
    text-align: left;
    padding-top: 30px;
}
p {
    text-align: left;
    margin: 3px;
    margin-right: 550px;
}
.privacy {
    text-align: center;
}
.p_privacy {
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
}
video {
    border: 1px solid black;
}
a:hover {
    color: darkred;
}